stages:
  - eval
  - build
  - push

"Evaluate for builds":
  stage: eval
  tags:
    - kubernetes
  image: "$CI_REGISTRY/greg/ci-image/builder:latest"
  artifacts:
    paths:
      - gitlab-ci-continue.yml
  script: nix run ".#gen-build" > gitlab-ci-continue.yml

"Trigger builds":
  stage: build
  trigger:
    include:
      - artifact: gitlab-ci-continue.yml
        job: "Evaluate for builds"
  variables:
    PARENT_PIPELINE_ID: $CI_PIPELINE_ID
