apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: gitea-config
spec:
  target:
    name: gitea-config
    deletionPolicy: Delete
    template:
      type: Opaque
      data:
        database: |-
          USER={{ .dbuser }}
          PASSWD="""{{ .dbpass }}"""
        storage: |-
          MINIO_ACCESS_KEY_ID={{ .minio_key }}
          MINIO_SECRET_ACCESS_KEY={{ .minio_secret }}
  secretStoreRef:
    name: bitwarden-login
    kind: ClusterSecretStore
  data:
    # MinIO credentials
    - secretKey: minio_key
      remoteRef:
        key: dcbcf704-7dce-48d7-bbd1-b3a801875b3d
        property: username
    - secretKey: minio_secret
      remoteRef:
        key: dcbcf704-7dce-48d7-bbd1-b3a801875b3d
        property: password
    # Postgres credentials
    - secretKey: dbuser
      remoteRef:
        key: df47ed61-61d7-4273-b81c-b3a9000de00e
        property: username
    - secretKey: dbpass
      remoteRef:
        key: df47ed61-61d7-4273-b81c-b3a9000de00e
        property: password
