apiVersion: traefik.io/v1alpha1
kind: MiddlewareTCP
metadata:
  name: local-hosts-only
  namespace: db
spec:
  ipAllowList:
    sourceRange:
      - 127.0.0.1/32 # Localhost, obviously
      - 10.42.0.0/16 # My internal net
      - 10.211.0.0/16 # Kubernetes IPs
      # Tailscale hosts
      - 100.119.228.115 # chronicles
      - 100.88.91.27 # dns?
      - 100.80.99.48 # exodus
      - 100.88.91.27 # genesis
      - 100.117.28.111 # gitlab
      - 100.68.203.1 # hosea
      - 100.84.183.79 # isaiah
      - 100.102.186.39 # jeremiah
      - 100.90.74.19 # zeke
      - 100.115.57.8 # linode
      - 100.65.5.38 # matrix
      #- 100.127.55.22 # jellyfin
---
apiVersion: traefik.io/v1alpha1
kind: IngressRouteTCP
metadata:
  name: ingress-route-postgres
  namespace: db
spec:
  entryPoints:
    - postgres
  routes:
    - match: HostSNI(`*`)
      priority: 10
      services:
        - name: postgres-rw
          port: 5432
