apiVersion: source.toolkit.fluxcd.io/v1
kind: HelmRepository
metadata:
  name: mariadb-operator
spec:
  interval: "24h"
  url: https://helm.mariadb.com/mariadb-operator
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mariadb-operator-crds
spec:
  interval: "24h"
  chart:
    spec:
      chart: mariadb-operator-crds
      sourceRef:
        kind: HelmRepository
        name: mariadb-operator
      interval: "1h"
---
apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mariadb-operator
spec:
  interval: "24h"
  chart:
    spec:
      chart: mariadb-operator
      sourceRef:
        kind: HelmRepository
        name: mariadb-operator
      interval: "1h"
  dependsOn:
    - name: mariadb-operator-crds
  values:
    clusterName: "cluster.local"
    crds:
      enabled: true
    ha:
      enabled: false
    metrics:
      enabled: true
      serviceMonitor:
        enabled: false
    certController:
      serviceMonitor:
        enabled: false
    webhook:
      serviceMonitor:
        enabled: false
