apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: k3sbackup-externalsecret
spec:
  target:
    name: k3sbackup-secret
    deletionPolicy: Delete
    template:
      type: kubernetes.io/basic-auth
      data:
        username: |-
          {{ .username }}
        password: |-
          {{ .password }}
  data:
    - secretKey: username
      sourceRef:
        storeRef:
          name: bitwarden-login
          kind: ClusterSecretStore
      remoteRef:
        key: 685b29c6-9264-4e60-ba4a-b2ea005a5d7b
        property: username
    - secretKey: password
      sourceRef:
        storeRef:
          name: bitwarden-login
          kind: ClusterSecretStore
      remoteRef:
        key: 685b29c6-9264-4e60-ba4a-b2ea005a5d7b
        property: password
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: uptimekuma-mariadb-password
spec:
  target:
    name: uptimekuma-mariadb-password
    deletionPolicy: Delete
    template:
      type: kubernetes.io/basic-auth
      data:
        username: |-
          {{ .username }}
        password: |-
          {{ .password }}
  secretStoreRef:
    name: bitwarden-login
    kind: ClusterSecretStore
  data:
    - secretKey: username
      remoteRef:
        key: 4df95656-9f9c-4916-8e34-b3a200376365
        property: username
    - secretKey: password
      remoteRef:
        key: 4df95656-9f9c-4916-8e34-b3a200376365
        property: password
---
apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: mariadb-root
spec:
  target:
    name: mariadb-root
    deletionPolicy: Delete
    template:
      type: kubernetes.io/basic-auth
      data:
        username: |-
          {{ .username }}
        password: |-
          {{ .password }}
  secretStoreRef:
    name: bitwarden-login
    kind: ClusterSecretStore
  data:
    - secretKey: username
      remoteRef:
        key: 048943ca-f686-4008-bef5-b3a2003a6fd2
        property: username
    - secretKey: password
      remoteRef:
        key: 048943ca-f686-4008-bef5-b3a2003a6fd2
        property: password
